<div class="container-fluid">
    <div class="jumbutron">
        <div style="text-align:center">
    <h1>Welcome to Quotes!</h1> 
  </div> <br><br><br> 
  <div class="row">
    
      <div class="col-md-6">
      <img width="200" alt="Quotes Logo"
        src="https://www.quotemaster.org/images/c6/c63637710ffc1951c38efe94c87554ce.jpeg">
      <hr>
      <ul>
        <li *ngFor='let quote of quotes'>
          {{quote.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>Hi,here you can found a list of motivational quotes written by different authors,<br>
      fill free to add your own quotes or even other motivational quotes you may know.</p>
    </div>
    
  
</div>
</div>
<app-quote></app-quote>