<div class="container">
  <h1 class="text-center"><strong>Motivational Quotes</strong></h1>
  <br><br><br>
  <h2><strong>List of Quotes</strong></h2><br>
  <div class="row">
    <div class="col-md-8">
      <div *ngFor='let quote of quotes;let i = index'>
        <div>
          <ul>
            <li appHighlight>{{quote.name}}</li>
          </ul>
           <p *ngIf='quotes.length > 10'>You have too many votes</p>
          <button (click)='toggleAuthor(i)' class="btn btn-success">Show Details</button>
        </div>
        <div *ngIf='quote.showAuthor'>
          <app-quote-author [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-author>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-add-quote (addQuote)="addNewQuote($event)"></app-add-quote>
    </div>
  </div>
</div><br><br>
<div class="row">
    <div class="col-md-12">
        <div class="footer" style="background-color:rgb(1, 1, 26)">
            <p style="text-align: center">&copy; Quotes,2019 Copy Right All right reserved.</p>
          
          </div>
    </div>
  </div>
